<div class="blog-post col-sm-8 offset-sm-2" style="word-break:break-all;">

    <!-- Title -->
    <h3 class="blog-post-title" >
        <a href="<%- config.root %><%- item.path %>">
            <%- item.title || item.link%>
        </a>
    </h3>

    <!-- Date and Author -->
    <p class="blog-post-meta">
        <%= item.date.format(config.date_format)  %>
        <% if(item.author) { %>
            by <%- item.author %>
        <% } %>
    </p>
    <!-- Tags and Categories links -->
    <%- partial('article-tags', {item: item}) %>
    <%- partial('article-categories', {item: item}) %>

    <!-- Content -->
   
            
             <%- item.content %>
        

    <hr>
    <section id="comments">
      <div id="disqus_thread"></div>
        <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = '<%= theme.shortname%>'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    </section>

    


</div>

    

    <div class="toc-menu" id="toc-menu">&nbsp;<i class="fa fa-chevron-down" aria-hidden="true"></i>&nbsp;</div>
    <div id="toc" class="toc-article ">
     <div class="toc-title">&nbsp;<i class="fa fa-bookmark" aria-hidden="true">&nbsp;directory</i>&nbsp;&nbsp;&nbsp;</div>
    
    <%- toc(item.content, {list_number: true}) %>
        
    </div>
