
<div class="blog-post col-sm-8 offset-sm-2" style="word-break:break-all;">

    <!-- Title -->
    <h3 class="blog-post-title" >
        <a href="<%- config.root %><%- item.path %>">
            <%- item.title || item.link%>
        </a>
    </h3>

    <!-- Date and Author -->
    <p class="blog-post-meta">
        <%= item.date.format(config.date_format)  %>
        <% if(item.author) { %>
            by <%- item.author %>
        <% } %>
    </p>
    <!-- Tags and Categories links -->
    <%- partial('article-tags', {item: item}) %>
    <%- partial('article-categories', {item: item}) %>

    <!-- Content -->
   
            
             <%- item.content %>
        

    <hr>

    


</div>

  <div id="toc" class="toc-article ">
    <div class="toc-title">目录</div>
    <%- toc(item.content, {list_number: false}) %>
    </div>
