

<div class="blog-post col-sm-6">
    
                <!-- Title -->
    <h4 class="blog-post-title"   ">
        <a href="<%- config.root %><%- item.path %>">
            &equiv;&nbsp;<%- item.title %>
        </a>
    </h4>

<span class="blog-post-meta">
      <i class="fa fa-calendar" aria-hidden="true"></i> <%= item.date.format(config.date_format) %>
    </span>&nbsp;&nbsp;&nbsp;
    <%- partial('article-categories', {item: item}) %>
    <%- partial('article-tags', {item: item}) %> 
    <!-- Content -->
    <div class="excerpt" id="excerpt">
         <a  href="<%- config.root %><%- item.path %>">
<!--     <%- item.excerpt || item.content %>  -->
    <%- item.excerpt  %>
    </a>
    </div>

    <!-- Only display the Read More link if we are displaying an excerpt -->
    <% if(item.excerpt) { %>
        <div class="readmore">
            <a  href="<%- config.root %><%- item.path %>">
                <%= theme.excerpt_link %>
            </a>
        </div>
    <% } %>
    <!-- <hr style="width: 80%;"> -->
 </div>
  
